* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.css-12w9als {
  display: flex;
  align-items: center;
  gap: 0 0.4vw;
}

aside {
  /* height: 100vh; */
  height: 100%;
  background-color: #ebecf2;
  position: fixed !important;
  left: 0;
  z-index: 99;
}

.css-ewdv3l {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 6vh 0;
  color: #78828a;
}

.css-1t8x7v1 {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #78828a;
}

a:active {
  color: green;
}

/* NavBar comp */
.flex-navbar {
  width: 100%;
  background-color: #ebecf2;
  padding: 1% 1%;
  position: fixed !important;
  top: 0;
}

.flex-navbar img {
  cursor: pointer;
}

.flex-navbar,
.search,
.cal-not-profile,
label {
  display: flex;
  align-items: center;
}

.flex-navbar {
  justify-content: space-between;
  padding-left: 8%;
}

.search {
  border: 1px solid #78828a;
  padding: 1.5vh 1vw;
  border-radius: 20px;
  background-color: #fff;
  width: 20%;
}

.search-con {
  margin: 0 1vw;
}

.cal-date {
  display: flex;
  align-items: center;
}

.cal-not-profile img {
  padding: 0 0.5vw;
}

.user-name-caret {
  display: flex;
  align-items: center;
  border: 1px solid #78828a;
  padding: 1.5vh 0;
  border-radius: 30px;
}

.user-name-caret div {
  padding: 0 0.5vw;
}
.user-name-caret .user-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.last-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market {
  width: 70%;
  margin-top: 5vh;
}

.dashboard-con,
.bar-page {
  padding-top: 12%;
  padding-left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar-con {
  width: 70%;
}

.users-progress {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 0 2%;
  margin-top: 5%;
  padding-right: 3%;
}

.apexcharts-title-text {
  display: none;
}

.apexcharts-yaxis {
  display: none;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh 0;
  margin-top: 5%;
}
.chart-small-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart-small-con div {
  background-color: white;
  padding: 1vh 1vw;
  border-radius: 10px;
}

.icon-market,
.up-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-con {
  height: 100vh;
}

.user-page-con {
  width: 80%;
  padding-top: 12%;
  margin-left: 10%;
}

td {
  cursor: pointer;
}

.chart-progress {
  padding-right: 2vw;
}

.fifty span {
  display: none !important;
}
.fifty div {
  height: 10px !important;
}

.first-progress div div {
  background-color: #6160dc !important;
}

.second-progress div div {
  background-color: #54c5eb !important;
}

.third-progress div div {
  background-color: #ffb74a !important;
}

.fifty div div {
  height: 10px !important;
}

.platform-all,
.p-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-con {
  margin: 0.7vh 0;
}

.first-p {
  font-weight: bold;
  margin: 0.7vh 0;
}

.progress-column {
  display: flex;
  gap: 2vh 0;
  flex-direction: column;
}

.marketpage-con {
  margin: 0 auto;
  width: 70%;
  padding-top: 12%;
}

.apexcharts-canvas {
  position: static !important;
  user-select: none;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-spin-nested-loading
  .ant-spin-container::after {
  z-index: 1 !important;
}

@media screen and (max-width: 1000px) {
  .flex-navbar {
    padding-left: 12%;
  }
}

@media screen and (max-width: 698px) {


  .search{
    display: none;
  }

  .cal-not-profile{
      display: flex;
      justify-content: flex-end;
  }

  .cal-not-profile div:nth-child(2){
display: none;
  }

  aside{
    font-size: 12px;
  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-table-wrapper .ant-table {
    font-size: 12px;
  }

  .bar-con canvas{
     font-size: 12px !important; 
  }

  .progress-column{

    font-size: 11px;
  }

  .last-all {
    font-size: 11px;
  }

  .users-progress {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vh 2%;
  }

  .dashboard-con {
    margin: 0 2%;
  }
}

@media screen and (max-width: 629px) {
  .users-progress {
    padding-left: 6%;
  }
}

@media screen and (max-width: 629px) {
  .dashboard-con{
    padding-left: 20%;
  }
}
@media screen and (max-width: 487px) {
  .cal-not-profile{
    display: none;
}
}